@media screen and (min-width: 769px) {
    .text {
        color: black;
    }
}

@media screen and (min-width: 361px) and (max-width: 768px) {
    .text {
        color: blue;
    }
}

@media screen and (max-width: 360px) {
    .text {
        color: red;
    }
}
