@import "src/assets/styles/utils";
@import "src/assets/styles/colors";

body {
  margin: 0 auto;
  max-width: 1248px;
  min-width: 360px;
}

@media screen and (min-width: 769px) {
  .header {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    background-color: $black;
    @include flexBox(0, row, center, space-between);
    padding: 0 6%;
  }

  .header__logo {
    background-size: 37px 106px;
    cursor: pointer;
  }

  .menu {
    @include flexBox(40px, row);
  }

  .menu__text {
    @include LatoBold(18px, normal);
    color: $white;

    &:hover {
      background: linear-gradient(153deg, $yellow 0%, $violet 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
    }
  }

  .menu__basket {
    cursor: pointer;
  }

  .header__mobile-menu {
    display: none;
  }

  .burger {
    display: none;
  }

  .content {
    box-sizing: border-box;
    width: 100%;
    @include flexBox(22px, column, flex-start);
    padding: 6%;
    background-image: url("./assets/icon/EARTH.svg"), url("./assets/icon/header_content_background.png");
    background-repeat: no-repeat, no-repeat;
    background-position: right center, center center;
  }

  .content__title {
    width: 693px;
    @include LatoExtraBold(72px, 100%);
    color: $white;

    .content__title_violet {
      color: $violet;
    }
  }

  .content__text {
    @include LatoExtraBold(32px, 120%);
    color: $white;

    .content__text_yellow {
      color: $yellow;
    }
  }

  .main-content {
    box-sizing: border-box;
    width: 100%;
    padding: 6%;
    background: $dark-sky;
    @include flexBox(62px, column, flex-start);
  }

  .offers {
    @include flexBox(40px, column);
  }

  .offers__text {
    @include LatoExtraBold(32px, normal);
    color: $white;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  .card {
    box-sizing: border-box;
    padding: 3%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    @include flexBox(22px, column);
    height: 350px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .card__title {
      @include LatoExtraBold(74px, 100%);
      color: $white;
      width: 63%;
    }

    .card__info {
      @include LatoExtraBold(26px, 120%);
      color: $white;
      width: 63%;
    }
  }

  .card:nth-child(2),
  .card:nth-child(3) {
    flex-basis: calc(50% - 20px);

    .card__title {
      @include LatoExtraBold(46px, 100%);
      color: $white;
      width: 63%;
    }

    .card__info {
      @include LatoExtraBold(24px, 120%);
      color: $white;
      width: 63%;
    }
  }

  .info {
    @include flexBox(17px, column);
  }

  .info__title {
    @include LatoExtraBold(32px, normal);
    color: $white;
  }

  .info__text {
    @include LatoBold(20px, normal);
    color: $white;
    opacity: 0.6;
  }

  .info__button {
    @include LatoExtraBold(20px, normal);
    color: $yellow;

    &:hover {
      color: rgba(235, 255, 0, 0.60);
      cursor: pointer;
    }
  }

  .button {
    padding: 14px 40px;
    border-radius: 100px;
    border: none;
    background-color: $yellow;
    @include LatoBold(22px, normal);
    color: $black;

    &:hover {
      cursor: pointer;
      background: rgba(235, 255, 0, 0.60);
    }
  }

  .button_empty {
    width: max-content;
    padding: 14px 40px;
    border-radius: 100px;
    border: 2px solid $yellow;
    @include LatoBold(22px, normal);
    background: none;
    color: $yellow;

    &:hover {
      cursor: pointer;
      border: 2px solid rgba(235, 255, 0, 0.60);
      background: none;
      color: rgba(235, 255, 0, 0.60);
    }
  }

  .footer {
    @include flexBox(5px, column, center, center);
    background-color: $black;
    width: 100%;
    height: 127px;
  }

  .footer__text {
    @include LatoExtraBold(18px, 28px);
    color: $yellow;
  }
}

@media screen and (min-width: 361px) and (max-width: 768px) {
  .header {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    background-color: $black;
    @include flexBox(0, row, center, space-between);
    padding: 0 6%;
  }

  .header__logo {
    background-size: 26px 73px;
    cursor: pointer;
  }

  .menu {
    @include flexBox(40px, row);
  }

  .menu__text {
    @include LatoBold(18px, normal);
    color: $white;

    &:hover {
      background: linear-gradient(153deg, $yellow 0%, $violet 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
    }
  }

  .menu__basket {
    cursor: pointer;
  }

  .header__mobile-menu {
    display: none;
  }

  .burger {
    display: none;
  }

  .content {
    box-sizing: border-box;
    width: 100%;
    @include flexBox(22px, column, flex-start);
    padding: 6%;
    background-image: url("./assets/icon/EARTH.svg"), url("./assets/icon/header_content_background.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 336px 299px, cover;
    background-position: calc(100% + 120px) center, center center;
  }

  .content__title {
    width: 411px;
    @include LatoExtraBold(48px, 100%);
    color: $white;

    .content__title_violet {
      color: $violet;
    }
  }

  .content__text {
    @include LatoExtraBold(22px, 120%);
    color: $white;

    .content__text_yellow {
      color: $yellow;
    }
  }

  .main-content {
    box-sizing: border-box;
    width: 100%;
    padding: 6%;
    background: $dark-sky;
    @include flexBox(55px, column, flex-start);
  }

  .offers {
    @include flexBox(30px, column);
  }

  .offers__text {
    @include LatoExtraBold(24px, normal);
    color: $white;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .card {
    box-sizing: border-box;
    padding: 3%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 15px);
    @include flexBox(22px, column, normal, flex-end);
    height: 350px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .card__title {
      @include LatoExtraBold(40px, 100%);
      color: $white;
      width: 82%;
    }

    .card__info {
      @include LatoExtraBold(16px, 120%);
      color: $white;
      width: 100%;
    }
  }

  .info {
    @include flexBox(13px, column);
  }

  .info__title {
    @include LatoExtraBold(24px, normal);
    color: $white;
  }

  .info__text {
    @include LatoBold(16px, normal);
    color: $white;
    opacity: 0.6;
  }

  .info__button {
    @include LatoExtraBold(16px, normal);
    color: $yellow;

    &:hover {
      color: rgba(235, 255, 0, 0.60);
      cursor: pointer;
    }
  }

  .button {
    padding: 14px 40px;
    border-radius: 100px;
    border: none;
    background-color: $yellow;
    @include LatoBold(22px, normal);
    color: $black;

    &:hover {
      cursor: pointer;
      background: rgba(235, 255, 0, 0.60);
    }
  }

  .button_empty {
    width: max-content;
    padding: 7px 40px;
    border-radius: 100px;
    background: none;
    border: 2px solid $yellow;
    @include LatoBold(16px, normal);
    color: $yellow;

    &:hover {
      cursor: pointer;
      border: 2px solid rgba(235, 255, 0, 0.60);
      background: none;
      color: rgba(235, 255, 0, 0.60);
    }
  }

  .footer {
    @include flexBox(5px, column, center, center);
    background-color: $black;
    width: 100%;
    height: 127px;
  }

  .footer__text {
    @include LatoExtraBold(18px, 28px);
    color: $yellow;
  }
}

@media screen and (max-width: 360px) {
  .header {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    background-color: $black;
    @include flexBox(0, row, center, space-between);
    padding: 0 6%;
  }

  .header__logo {
    background-size: 26px 73px;
    cursor: pointer;
  }

  .menu {
    display: none;
  }

  .burger {
    @include flexBox(5px, column, flex-start, center);
    padding: 5px 15px;
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    height: auto;
    background-color: $black;
    visibility: hidden;

    &_active {
      visibility: visible;
    }
  }


  .burger__text {
    @include LatoBold(20px, 100%);
    color: $white;

    &:hover {
      color: $violet;
    }
  }

  .content {
    box-sizing: border-box;
    width: 100%;
    height: 451px;
    @include flexBox(17px, column, center, flex-end);
    padding: 12%;
    background-image: url("./assets/icon/EARTH.svg"), url("./assets/icon/header_content_background.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 336px 299px, cover;
    background-position: right calc(50% - 170px), center center;
  }

  .content__title {
    width: 292px;
    @include LatoExtraBold(36px, 100%);
    color: $white;

    .content__title_violet {
      color: $violet;
    }
  }

  .content__text {
    @include LatoExtraBold(16px, 120%);
    color: $white;

    .content__text_yellow {
      color: $yellow;
    }
  }

  .main-content {
    box-sizing: border-box;
    width: 100%;
    padding: 6%;
    background: $dark-sky;
    @include flexBox(50px, column, flex-start);
  }

  .offers {
    @include flexBox(30px, column);
  }

  .offers__text {
    @include LatoExtraBold(18px, normal);
    color: $white;
  }


  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .card {
    box-sizing: border-box;
    padding: 6%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    @include flexBox(22px, column, normal, flex-end);
    height: 350px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .card__title {
      @include LatoExtraBold(40px, 100%);
      color: $white;
      width: 83%;
    }

    .card__info {
      @include LatoExtraBold(16px, 120%);
      color: $white;
      width: 90%;
    }
  }

  .info {
    @include flexBox(20px, column);
  }

  .info__title {
    @include LatoExtraBold(18px, normal);
    color: $white;
  }

  .info__text {
    @include LatoBold(14px, normal);
    color: $white;
    opacity: 0.6;
  }

  .info__button {
    @include LatoExtraBold(14px, normal);
    color: $yellow;

    &:hover {
      color: rgba(235, 255, 0, 0.60);
      cursor: pointer;
    }
  }

  .button {
    padding: 7px 40px;
    border-radius: 100px;
    border: none;
    background-color: $yellow;
    @include LatoBold(16px, normal);
    color: $black;

    &:hover {
      cursor: pointer;
      background: rgba(235, 255, 0, 0.60);
    }
  }

  .button_empty {
    width: max-content;
    padding: 7px 40px;
    background: none;
    border-radius: 100px;
    border: 2px solid $yellow;
    @include LatoBold(16px, normal);
    color: $yellow;

    &:hover {
      cursor: pointer;
      border: 2px solid rgba(235, 255, 0, 0.60);
      background: none;
      color: rgba(235, 255, 0, 0.60);
    }
  }

  .footer {
    @include flexBox(5px, column, center, center);
    background-color: $black;
    width: 100%;
    height: 127px;
  }

  .footer__text {
    @include LatoExtraBold(18px, 28px);
    color: $yellow;
  }
}
